<template>
  <v-content>
    <v-layout row>
      <v-flex xs10 xl8 class="mx-auto">
        <h3 class="text-xs-left mb-3">Current state</h3>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-data-table
        :headers="headers"
        :items="stats"
        hide-actions
        disable-initial-sort
        class="elevation-1 mx-auto"
      >
        <template slot="items" slot-scope="props">
          <td v-for="item in props.item" class="text-xs-right">{{ item }}</td>
        </template>
      </v-data-table>
    </v-layout>
    <v-flex xs10 xl8 class="mx-auto mt-4">
      <v-layout>
        <v-flex xs2 >
          <h3 class="text-xs-left my-3">History state: {{historyLabel}}</h3>
        </v-flex>
        <v-flex @click="sliderActive = false" xs2>
          <v-menu
            ref="datePicker"
            :close-on-content-click="false"
            v-model="datePicker"
            :nudge-right="40"
            :return-value.sync="dateInput"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="dateInput"
              label="Pick specific date"
              prepend-icon="event"
              readonly
            ></v-text-field>
            <v-date-picker v-model="dateInput" @input="$refs.datePicker.save(dateInput)"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex xs8>
          <v-slider
            @mousedown="sliderActive = true"
            v-model="historySlider"
          ></v-slider>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-layout row wrap>
      <v-data-table
        :headers="headers"
        :items="historyStats"
        hide-actions
        disable-initial-sort
        class="elevation-1 mx-auto"
      >
        <template slot="items" slot-scope="props">
          <td v-for="item in props.item" class="text-xs-right">{{ item }}</td>
        </template>
      </v-data-table>
    </v-layout>
    <v-layout>
      <v-flex xs10 xl8 class="mx-auto">
        <GraphComponent :date1="today" :date2="historyDate" class="my-4"></GraphComponent>
      </v-flex>
    </v-layout>
  </v-content>
</template>

<script>
  import {mapGetters} from 'vuex'
  import moment from 'moment'
  import timeago from 'timeago.js'
  import GraphComponent from '../../components/GraphsComponent/GraphsComponent.vue'

  export default {
    name: 'Onboarding',
    components: {
      GraphComponent
    },

    created () {
      this.$store.dispatch('loadPocAssignments')
    },

    data () {
      return {
        dateInput: null,
        datePicker: false,
        today: moment().format(),
        weekAgo: moment().subtract(7, 'days').format(),
        monthAgo: moment().subtract(31, 'days').format(),
        historySlider: 50,
        sliderActive: true,
        historyJumps: [0, 1, 3, 7, 15, 31, 93, 183, 365, 10000],
        headers: [
          {
            text: 'Region',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {text: 'Assigned', value: 'PocWasAssignedStatus'},
          {text: 'Invite', value: 'InviteWasClickedStatus'},
          {text: 'Registered', value: 'registrationFormWasSubmitedStatus'},
          {text: 'Login failed', value: 'loginDidFailStatus'},
          {text: 'Login passed', value: 'loginDidSucceedStatus'},
          {text: 'PP accepted', value: 'termsWereAcceptedStatus'},
          {text: 'Pairing failed', value: 'pairingStartedStatus'},
          {text: 'Pairing OK', value: 'cloudCodeWasCorrectStatus'},
          {text: 'Live', value: 'sasTokenWasRequestedStatus'},
          {text: 'Ended', value: 'assignmentEndedStatus'},
          {text: 'NotAssigned', value: 'pocNotAssignedStatus'},
          {text: 'TOTAL', value: 'totalAssignments'}
        ]
      }
    },
    computed: {
      ...mapGetters({
        currentOnboardingSnapshot: 'currentOnboardingSnapshot',
        onboardingSnapshot: 'onboardingSnapshot'
      }),

      historyLabel () {
        return timeago().format(this.historyDate)
      },
      historyDate () {
        if (this.sliderActive) {
          const hoursInHistory = this.historySlider * this.historySlider
          const historyDate = moment().subtract(hoursInHistory, 'hours')
          this.dateInput = historyDate.format('YYYY-MM-DD')
          return historyDate.format()
        }
        const now = moment()
        const historyDate = moment(this.dateInput)
        const duration = moment.duration(now.diff(historyDate))
        const hours = duration.asHours()
        this.historySlider = Math.sqrt(hours)
        console.log(hours)
        return historyDate.format()
      },
      stats () {
        return [
          {
            regionName: 'Today',
            ...this.onboardingSnapshot(this.today)
          },
          {
            regionName: 'Change last 7 days',
            ...this.changeSince(this.weekAgo)
          },
          {
            regionName: 'Change last 30 days',
            ...this.changeSince(this.monthAgo)
          }
        ]
      },
      historyStats () {
        return [
          {
            regionName: this.historyLabel,
            ...this.onboardingSnapshot(this.historyDate)
          },
          {
            regionName: `Change since ${this.historyLabel}`,
            ...this.changeSince(this.historyDate)
          }
        ]
      }
    },
    methods: {
      changeSince (date) {
        const change = {}
        const snapshotToday = this.onboardingSnapshot(this.today)
        const snapshotThatDay = this.onboardingSnapshot(date)

        for (const status of Object.keys(snapshotToday)) {
          change[status] = snapshotToday[status] - snapshotThatDay[status]
        }

        return change
      }
    }
  }
</script>

<style scoped>

</style>
