<template>
  <div>
    <v-toolbar color="cyan" dark tabs>
      <v-toolbar-title>Data visualization</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-tabs
        slot="extension"
        v-model="tab"
        color="cyan"
        align-with-title
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item">
        <v-card flat>
          <div class="graphs-component-container">
            <div class="graph-container">
              <div class="graph">
                <purity-graph v-if="tab == 0" :chart-data="graphData"></purity-graph>
                <flow-settings-graph v-if="tab == 1" :chart-data="pieChartData"></flow-settings-graph>
                <usage-graph v-if="tab == 2" :chart-data="timelineGraphData"></usage-graph>
              </div>
            </div>
          </div>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>


<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import PurityGraph from './graphs/PurityGraph.vue'
import FlowSettingsGraph from './graphs/FlowSettingsGraph.vue'
import UsageGraph from './graphs/UsageGraph.vue'

export default {
  name: 'GraphsComponent',
  components: {
    PurityGraph,
    FlowSettingsGraph,
    UsageGraph
  },
  props: ['date1', 'date2'],
  data () {
    return {
      isLoading: false,
      narrowed: true,
      data1: moment().format(),
      tab: null,
      items: [
        'Bar chart', 'Pie chart', 'Time line'
      ],
      colors: [
        'rgba(120,28,129, 0.9)',
        'rgba(64,67,153, 0.9)',
        'rgba(72,139,194, 0.9)',
        'rgba(107,178,140, 0.9)',
        'rgba(159,190,87, 0.9)',
        'rgba(210,179,63, 0.9)',
        'rgba(231,126,49, 0.9)',
        'rgba(217,33,32, 0.9)',
        'rgba(43, 101, 106, 0.9)',
        'rgba(43, 10, 10, 0.9)',
        'rgba(143, 31, 186, 0.9)'
      ]
    }
  },
  computed: {
    ...mapGetters({
      currentOnboardingSnapshot: 'currentOnboardingSnapshot',
      onboardingSnapshot: 'onboardingSnapshot'
    }),
    labels () {
      const labels = []
      for (const status of Object.keys(this.currentOnboardingSnapshot)) {
        if (this.isStatusToDisplay(status)) {
          labels.push(status)
        }
      }
      return labels
    },
    dataSnapshot1 () {
      const data = []
      for (const status of Object.keys(this.onboardingSnapshot(this.date1))) {
        if (this.isStatusToDisplay(status)) {
          data.push(this.onboardingSnapshot(this.date1)[status])
        }
      }
      return data
    },
    dataSnapshot2 () {
      const data = []
      for (const status of Object.keys(this.onboardingSnapshot(this.date2))) {
        if (this.isStatusToDisplay(status)) {
          data.push(this.onboardingSnapshot(this.date2)[status])
        }
      }
      return data
    },
    graphData () {
      return {
        labels: this.labels,
        datasets: [
          {
            label: 'Current state',
            backgroundColor: 'rgba(43, 131, 186, 0.9)',
            data: this.dataSnapshot1
          },
          {
            label: 'History state',
            backgroundColor: 'rgba(171, 221, 164, 0.9)',
            data: this.dataSnapshot2
          }
        ]
      }
    },
    timelineGraphData () {
      const weeksInYear = 52
      const datePoints = []
      for (let i = 0; i <= weeksInYear; i++) {
        datePoints.push(moment().subtract((weeksInYear - i) * 7, 'days'))
      }

      const snaphshots = datePoints.map(datePoint => this.onboardingSnapshot(datePoint.format()))

      const datasets = Object.keys(snaphshots[0]).map(status => {
        return {
          label: status,
          backgroundColor: 'rgba(255,255,255,0)',
          borderColor: this.colors[Object.keys(snaphshots[0]).indexOf(status)],
          data: snaphshots.map(snapshot => snapshot[status])
        }
      })

      console.log(datasets)

      return {
        labels: datePoints.map(datePoint => datePoint.format('DD-MMM-YYYY')),
        datasets
      }
    },
    pieChartData () {
      return {
        labels: this.labels,
        datasets: [
          {
            label: 'Current state',
            backgroundColor: this.colors,
            data: this.dataSnapshot1
          },
          {
            label: 'History state',
            backgroundColor: this.colors,
            data: this.dataSnapshot2
          }
        ]
      }
    }
  },
  methods: {
    isStatusToDisplay (status) {
      return status !== 'TotalAssignments'
    },
    activateTab (tab) {
      this.tabs.forEach(tab => {
        tab.isActive = false
      })
      tab.isActive = true
    }
  }
}
</script>

<style lang="scss" scoped>
.graphs-component {
  width: 100%;
  .no-data-placeholder {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 3em;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .graphs-component-container {
    margin: -0.9rem;
    .graph-container {
      position: relative;
    }
  }

  .graph-details-container {
    padding: 1rem;
  }

  .tabs ul {
    border-bottom: none !important;
  }

  .loader {
    height: 2em;
    width: 2em;
    border: lightblue solid;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    right: 5em;
  }
}
</style>
